@media(min-width:576px){
    .container{
        max-width: 540px;
        margin: 0 auto;
    }
}
@media(min-width:768px){
    .container{
        max-width: 720px;
        margin: 0 auto;
    }
}
@media(min-width:992px){
    .container{
        max-width: 960px;
        margin: 0 auto;
    }

}
@media(min-width:1200px){
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
}
@media(min-width:1400px){
    .container{
        max-width: 1320px;
        margin: 0 auto;
    }
} 